# Environment variables
.env
backend/.env

# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
backend/venv/

# Database
*.sqlite3

# Next.js
node_modules/
frontend/node_modules/
.next/
frontend/.next/
out/
frontend/out/

# Next.js build outputs
.vercel
frontend/.vercel

# TypeScript
*.tsbuildinfo
frontend/*.tsbuildinfo

# ESLint
.eslintcache
frontend/.eslintcache